@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@keyframes moveBg {
  0% {
    background-position: 200% 50%;}
   20%{background-position:100% 0%}
  
  
  100% {
    background-position: 0% 50%;
  }
}

.moveBg{
  animation: moveBg 2s ease infinite;
}

@keyframes moveHighlight {
 0%{transform: translateY(0px) scale(0.2)} 
  20%{transform: translateY(110px) scale(0.8);}
  30%{transform: translateY(110px) scale(1.5);}
  80%{transform: translateY(110px) scale(1.5);}
  90%{transform: translateY(110px)scale(0.7);}    
   100%{transform: translateY(200px) scale(0.4);} 
}

.moveHighlight{
  animation: moveHighlight 5s ease infinite;
}

@keyframes rotateInner {
50%{transform: rotate(270deg);}  
}
.rotateInner{
  animation: rotateInner 2s ease infinite;
}

@keyframes rotateInner2 {
100%{transform: rotate(1turn);}  
}
.rotateInner2{
  animation: rotateInner 4s ease infinite;
}


@keyframes enlargeBg {
  20%{background-position: 200 400;}
  80% {background-size: 200%;
  background-position: 100 200;}
}
.enlargBgText{
animation: enlargeBg 2s ease infinite;
}
:root {
  /* Light mode colorss */
  --bg: rgb(255,255,255);
  --text: oklch(0.30 0.005 106.7);
  --brand: oklch(0.621 0.153 301.1);
  
  --background: var(--bg);
  --foreground: var(--text);
  --card: oklch(1 0 0);
  --card-foreground: var(--text);
  --popover: oklch(1 0 0);
  --popover-foreground: var(--text);
  --primary: var(--brand);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: var(--text);
  --muted: oklch(0.94 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.332 0.043 185.9);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: var(--brand);
  --chart-1: var(--brand);
  --chart-2: oklch(0.332 0.043 185.9);
  --chart-3: oklch(0.6 0.118 184.704);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: var(--text);
  --sidebar-primary: var(--brand);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.332 0.043 185.9);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: var(--brand);
}

.dark {
  /* Dark mode */
  --bg: hex(#1f2937);
  --surface: oklch(0.223 0.028 203.3);
  --accent: oklch(0.332 0.043 185.9);
  
  --background: var(--bg);
  --foreground: oklch(0.985 0 0);
  --card: var(--surface);
  --card-foreground: oklch(0.985 0 0);
  --popover: var(--surface);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.621 0.153 301.1);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.332 0.043 185.9);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.621 0.153 301.1);
  --chart-1: oklch(0.621 0.153 301.1);
  --chart-2: oklch(0.332 0.043 185.9);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.621 0.153 301.1);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.332 0.043 185.9);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.621 0.153 301.1);
}

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
